.container {
    font: 16px;
    width: 40em;
    background-color: #FFF8DC;
}

.box1 {
    width: 50%;
    height: 4em;
    background-color: #DCDCDC;
    margin: 1em;
}

.box2 {
    width: 50%;
    height: 2em;
    background-color: #F0FFFF;
    margin: 1em;
}